:root {
  --dt-gray-dark: #282a36;
  --dt-code-cell-background: #323443;
  --dt-gray: #44475a;
  --dt-gray-light: #f8f8f2;
  --dt-blue: #6272a4;
  --dt-cyan: #8be9fd;
  --dt-green: #50fa7b;
  --dt-orange: #ffb86c;
  --dt-pink: #ff79c6;
  --dt-purple: #bd93f9;
  --dt-red: #ff5555;
  --dt-yellow: #f1fa8c;
  --dt-green-light: rgb(172, 229, 145);
}

.language-python + .language-plaintext {
  border-left: 1px solid grey;
  margin-left: 1rem !important;
}

[class^="language-"]:not(.language-plaintext) pre,
[class^="language-"]:not(.language-plaintext) code {
  background-color: var(--dt-code-cell-background) !important;
  color: var(--dt-gray-light);
}

.language-python + .language-plaintext code {
  background-color: none !important;
}

.language-python + .language-plaintext pre {
  background-color: #323443 !important;
}

.input_area pre,
.input_area div {
  margin-bottom: 1.0rem !important;
  margin-top: 1.5rem !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  background: #323443 !important;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Menlo, Monaco, Consolas, "Lucida Console", Roboto, Ubuntu, monospace;
  border-radius: 5px;
  font-size: 105%;
}

.output_area pre,
.output_area div {
  margin-bottom: 1rem !important;
  margin-top: 0rem !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.input_area pre {
  border-left: 1px solid lightcoral;
}

.output_area pre {
  border-left: 1px solid grey;
  margin-left: 1rem !important;
  font-size: 16px;
}

.code_cell table {
  width: auto;
}

.highlight {
  background: var(--dt-code-cell-background) !important;
  color: var(--dt-gray-light) !important;
}

.highlight pre,
.highlight code {
  background: var(--dt-code-cell-background);
  color: var(--dt-gray-light);
  font-size: 110%;
}

/* ... (rest of the Dracula theme styles) */

p code {
  font-size: 19px;
}
