// Mixin used as a template for buttons
@mixin button {
  width: auto;
  height: auto;
  border-radius: 10px;
  background-color: #21807c;
  border: 3px solid black;
  font-size: 1.5em;

  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: span 1;
  grid-row: span 1;

  // Creates a smooth animation effect
  transition: all 0.5s; 
}

/* Define class for a redefined button */
.button {
  @include button;
}

/* Darken the background color on hover to create a selecting effect */
.button:hover {
  background-color: #373737;
}

/* "Row style" is flexible size and aligns pictures in the center */
.row {
  align-items: center;
  display: flex;
}

/* "Column style" is one-third of the width with padding */
.column {
  flex: 16.66%;
  padding: 3px;
}

// STYLING FOR CALCULATOR

/* Class to create the calculator's container; uses CSS grid display to partition off buttons */
.calculator-container { 
  width: 90vw; /* This width and height are specified for mobile devices by default */
  height: 80vh;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr); /* fr is a special unit; learn more here: https://css-tricks.com/introduction-fr-css-unit/  */
  grid-template-rows: 0.5fr repeat(4, 1fr);
  gap: 10px 10px;
}

@media (min-width: 600px) { 
  .calculator-container {
      width: 40vw;
      height: 80vh;
  }
}

/* Styling for the calculator number button */
.calculator-number {
  @include button;
}

/* Styling for the calculator operation button */
.calculator-operation {
  @include button;
}

/* Styling for the calculator clear button */
.calculator-clear {
  @include button;
  background-color: #e68b1c;
}

/* Styling for the calculator equals button */
.calculator-equals {
  @include button;
  background-color: #e70f0f;
}
